@use "../abstracts" as *;

.main-container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr auto;
  grid-template-areas:
    "header"
    "content"
    "footer"
    "menu";
  gap: 1rem;
}

.site-footer {
  grid-area: footer;
  margin-inline: 1rem;
}
