@use "../abstracts" as *;

.main-container {
  display: grid;
  width: 100%;

  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr auto;
  grid-template-areas:
    "header"
    "content"
    "footer"
    "menu";
  row-gap: 1rem;
}
