// -----------------------------------------------------------------------------
// This file contains all styles related to the header of the site/application.
// -----------------------------------------------------------------------------
@use "../components";
@use "../abstracts" as *;

.site-header {
  grid-area: header;
  display: flex;
  width: 100%;
  flex-flow: row wrap;
}
.header-top {
  display: flex;
  flex-flow: row wrap;
  padding-top: 1rem;
  width: 100%;
  &__cta {
    width: 49%;
    margin-left: 1%;
  }
  &__logon {
    width: 49%;
    margin-right: 1%;
    text-align: right;
  }
}

.header-main {
  display: flex;
  width: 100%;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;

  &__site-branding {
    display: none;
  }
  &__searchbar {
    width: 95%;
  }
}
