// -----------------------------------------------------------------------------
// This file contains all styles related to the header of the site/application.
// -----------------------------------------------------------------------------
@use "../components";
@use "../abstracts" as *;

.site-header {
  grid-area: header;
  display: grid;
  grid-template-rows: 5rem 5rem 5rem;
  align-items: center;
  gap: 1rem;
  grid-template-areas:
    "header-top"
    "header-main"
    "header-bottom";
}
.header-top {
  grid-area: header-top;
  display: flex;
  @include components.nav-menu;
  &__cta {
    flex-grow: 1;
    text-align: center;
    padding-right: 0.5rem;
  }
  &__logon a {
    flex-grow: 1;
    text-transform: lowercase;
    text-align: right;
    padding-left: 0.5rem;
  }
}
.header-main {
  grid-area: header-main;
  display: flex;
  justify-content: space-between;
  align-items: center;
  &__site-branding {
    width: 30%;
  }
  &__searchbar {
    // position: relative;
    width: 50%;
    display: flex;
    left: 0px;
    transform: translateX(-50%);
  }
}

.site-branding__logo {
  height: 9rem;
  display: flex;
  flex-direction: column;
}

.header-bottom {
  grid-area: header-bottom;
  display: flex;
  justify-content: center;

  @include components.nav-menu;

  @include lg {
    display: none;
  }
}
