@use "sass:map";
@use "../abstracts/" as *;

.account {
  display: inline-flex;
  &-avatar {
    display: none;
    color: map.get($theme-color-light, "primary-color");
  }
  &-name{
    display: none;
  }
}

.account-exit,
.drop-icons {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  // background-color: map.get($theme-color-light, "border-color");
  text-align: center;
  line-height: 30px;
}
