@use "sass:map";
@use "../abstracts/" as *;

.account-wrapper {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: flex-end;
  gap: 1.5rem;
}
.account-profile,.account-exits {
  text-align: center;
  text-transform: lowercase;
}