@use "../abstracts" as *;
@use "sass:map";
@use "sass:color";

.hero-section__wrapper {
  padding: 1rem;
}
.hero-section {
  display: flex;
  flex-flow: row nowrap;
  width: 100%;
  // height: 500px;
  gap: 2rem;
  &__content-left {
    width: 50%;
  }
  &__content-right {
    width: 50%;
  }
}

.wrapper {
  display: flex;
  flex-flow: row wrap;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}
.content-top {
  width: 100%;
  height: 50%;
  background-image: url("assets/images/hero-image.png");
  background-repeat: repeat;
  background-size: cover; // hoặc contain
  background-position: center;
}
.content-right,
.content-left {
  width: 48%;
}
.image-wrapper {
  & img {
    max-width: 100%;
    height: auto;
    object-fit: cover;
  }
}
