@use "../abstracts" as *;
@use "sass:map";

.hero-section {
  // position: relative;
  &__header {
    position: relative;

    display: flex;
    flex-flow: row wrap;
  }
  &__categories {
    width: 50%;
    display: flex;
    justify-content: start;
    align-items: center;
    & h1 {
      margin: 0;
      text-align: left;
      text-transform: uppercase;
    }
  }
  &__see-more {
    display: flex;
    width: 50%;
    justify-content: end;
    align-items: center;
  }
  &__content {
    box-shadow: 0 0 10px rgba(232, 235, 233, 0.562);
    display: flex;
    flex-flow: row wrap;

    border-radius: 7px;
    & img {
      border-radius: 7px;
      padding: 1rem;
    }
  }
  .content__img {
    border-radius: 7px;
    width: 50%;
  }
}
.content__right{
  width: 50%;
}