@use "sass:map";
@use "../abstracts";

@mixin nav-menu {
  text-transform: uppercase;
  ul {
    display: flex;
    justify-content: left;
    list-style-type: none;
  }
  li {
   
    padding: 0.5rem 1rem;
    transition: background-color 0.3s ease-in-out;
    &:hover {
      color: map.get(abstracts.$theme-color-light, "border-color");
    }
  }
  a {
    text-decoration: none;
    color: map.get(abstracts.$theme-color-light, "text-color-white");
    display: block;
    font-family: "Coiny", sans-serif;
    font-size: 1.8rem;
    letter-spacing: 1px;
    &:hover {
      color: map.get(abstracts.$theme-color-light, "accent-color");
    }
  }
}
