@use "sass:map";
@use "../abstracts" as *;

@mixin nav-menu {
  ul {
    display: flex;
    padding: 0;
    list-style-type: none;
    & li {
      margin-inline: 1rem;
      & a {
        text-decoration: none;
        color: get-color("text-color-white");
        font-family: "Montserrat Variable", sans-serif;
        font-size: 2rem;
        letter-spacing: 1px;
        font-weight: 700;
        text-transform: uppercase;
        position: relative;
      }
    }
  }
  ul li a:before {
    content: "";
    width: 0;
    height: 5px;
    background-color: get-color("primary-color");
    position: absolute;
    top: 120%;
    left: 0;
    transition: all 0.5s;
  }
  ul li a:after {
    content: "";
    width: 0;
    height: 5px;
    background-color: get-color("primary-color");
    position: absolute;
    top: 120%;
    right: 0;
    transition: all 0.5s;
  }

  ul li a:hover:before {
    width: 50%;
    transform: translateX(100%);
  }

  ul li a:hover:after {
    width: 50%;
    transform: translateX(-100%);
  }
}

.header-bottom__mobile-menu {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  background-color: get-color("gray-color");
  // border-top: 1px solid #eee;
  border-top-left-radius: 0.7rem;
  border-top-right-radius: 0.7rem;
  z-index: 99;
  box-shadow: 0 -2px 12px rgba(0, 0, 0, 0.05);
  & ul {
    width: 100%;
    list-style-type: none;
    display: flex;
    justify-content: space-around;
    padding: 0;
    gap: 1rem;
    & i {
      color: get-color("primary-color");
    }
  }
  @include md {
    display: none;
  }
}


