<<<<<<< HEAD
@use "sass:map";
@use "sass:color";
@use "../abstracts/" as *;

.post {
  width: 100%;
  background-color: color.adjust(map.get($theme-color-light,"background-color"),$lightness:40%);
  display: flex;
  flex-flow: column nowrap;
  gap: 2rem;
  padding-block: rem;
=======
.post {
  width: 100%;
>>>>>>> 65a2eb3f48dcd34de54d17b41793c1e5eefa5506
}
.post-title {
  display: flex;
  flex-flow: row wrap;
  &__heading {
    width: 100%;
    h2 {
      font-family: "Coiny";
      letter-spacing: 2px;
    }
  }
  &__meta {
<<<<<<< HEAD
    margin-bottom: 0.7rem;
    margin-left: 1rem;
=======
>>>>>>> 65a2eb3f48dcd34de54d17b41793c1e5eefa5506
    & span {
      padding-inline: 0.5rem;
    }
  }
}
.post-content {
  display: flex;
  flex-flow: row wrap;
  &__img {
    width: 20%;
<<<<<<< HEAD
    height: auto;
=======
>>>>>>> 65a2eb3f48dcd34de54d17b41793c1e5eefa5506
  }
  &__text {
    width: 80%;
  }
<<<<<<< HEAD
  &__read-more {
    width: 100%;
    text-align: right;
  }
=======
>>>>>>> 65a2eb3f48dcd34de54d17b41793c1e5eefa5506
}
