@use "sass:map";
@use "sass:color";
@use "../abstracts/" as *;

.post-section {
  display: flex;
  height: 100%;
  padding: 1rem;
  gap: 1rem;
  border-radius: 7px;
  background-color: color.adjust(
    map.get($theme-color-light, "background-color"),
    $lightness: 90%
  );
  flex-direction: column;
}
.post {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 1rem;
  background-color: color.adjust(
    map.get($theme-color-light, "background-color"),
    $lightness: 15%
  );
  border-radius: 7px;
  &-title {
    display: flex;
    align-items: center;
    &__meta{
      width: 25%;
      text-align: right;
    }
  }
  &-title__heading {
    width: 100%;
    background-color: color.adjust(
      map.get($theme-color-light, "background-color"),
      $lightness: 50%
    );
    border-radius: 5px;
    a {
      margin-left: 2rem;
    }
  }
  &-content {
    display: flex;
    flex-flow: row wrap;
    gap: 0.5rem;
    &__img {
      margin: 0.5rem;
      object-fit: contain;
      border-radius: 5px;
    }
    &__text {
      width: 60%;
    }
  }
}
