@use "sass:map";
@use "sass:color";
@use "../abstracts/" as *;

.searchbar {
  display: flex;
  width: 100%;
  height: 5rem;
  background-color: map.get($theme-color-light, "link-color");
  border-radius: 1rem;
  align-items: center;
  i {
    color: map.get($theme-color-light, "border-color");
    font-size: 2.5rem;
    margin-left: 1.5rem;
    padding-right: 1rem;
  }
  & input {
    width: 100%;
    height: auto;
    outline: none;
    border: none;
    background-color: transparent;
    color: map.get($theme-color-light, "text-color-white");
    font-size: 2rem;
    letter-spacing: 1px;
  }
  & input::placeholder {
    color: map.get($theme-color-light, "text-color-white");
    font-size: 2rem;
  }
}
