// Import variables
@use "../abstracts/" as *;
@use "sass:map";





// Base variables
$pkd-border-radius: 8px !default;
$pkd-font-main: "Roboto", "Coiny", sans-serif !default;

// Reset CSS
*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}
body {
  margin: 0;
  padding: 0;
  font-family: $pkd-font-main;
  font-size: 1.6rem;
  background: get-color("gray-color-darker-20");
  color: get-color("text-color-white");
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}
a {
  text-decoration: none;
  color: get-color("text-color-white");
  transition: color 0.3s ease;
  &:hover {
    color: get-color("primary-color");
    font-weight: bold;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  font-family: "Montserrat Variable", sans-serif;
  color: get-color("primary-color");
  letter-spacing: 1px;
}
