// Import variables
@use "../abstracts/" as *;
@use "sass:map";

// Mặc định dùng theme light từ file biến
$pkd-theme: $theme-color-light !default;

// Function lấy màu từ theme map
@function pkd-color($key) {
  @return map.get($pkd-theme, $key);
}

// Base variables
$pkd-border-radius: 8px !default;
$pkd-font-main: "Roboto", "Coiny", sans-serif !default;

// Reset CSS
*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}
body {
  margin: 0;
  padding: 0;
  font-family: $pkd-font-main;
  font-size: 1.6rem;
  background: pkd-color("background-color");
  color: pkd-color("text-color-white");
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}
a {
  text-decoration: none;
  color: pkd-color("white-color");
  transition: color 0.3s ease;
  &:hover {
    color: pkd-color("primary-color");
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  font-family: "Montserrat Variable", sans-serif;
  color: pkd-color("primary-color");
  letter-spacing: 1px;
}
