@use "sass:map";
@use "sass:color";
@use "../abstracts/" as *;

#primary.content-area {
  grid-area: 2/1/4/4;
}
.site-main {
  display: flex;
  flex-flow: row wrap;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
  flex-direction: column;
  background-color: color.adjust(
    map.get($theme-color-light, "background-color"),
    $lightness: 10%
  );
}
.product-card {
  position: relative;
  // margin: 1rem;
  width: 300px;
  height: 400px;
  display: flex;
  flex-flow: row wrap;
  margin-right: 0.5rem;
  margin-left: 0.5rem;
  background-color: map.get($theme-color-light, "primary-color");
  border-radius: 0.7rem;
  justify-content: center;
}

// ul.products {
//   width: 100%;
// }
// .product-price {
//   width: 50%;
//   color: black;
//   font-size: larger;
//   font-style: italic;
//   margin-left: 1rem;
// }
// .product-cart {
//   width: 100%;
//   text-align: right;
// }
.card-img {
  display: flex;
  position: relative;
  justify-content: center;
  top: -5rem;
  & img {
    border-radius: 7px;
  }
}
.product-thumbnail {
  // display: flex;
  position: relative;
  justify-content: center;
  color: black;
  z-index: 2;
  & img {
    margin-top: 1rem;
  }
  & h2 {
    color: black;
    text-align: center;
    margin-top: 0.5rem;
  }
}
.product-pagination {
  display: flex;
  justify-content: center;
  font-size: large;
}
.page-numbers {
  display: flex;
  list-style-type: none;
  margin-left: 1.5rem;
}

.badge {
  // position: absolute;
  font-size: large;
  text-transform: uppercase;
  font-family: "Coiny";
  color: red;
  translate: 1rem 2.5rem;
  z-index: 3;
  &:hover {
    animation: shake 0.5s;
  }
}

// .woocommerce-loop-product__title {
//   color: black;
// }

@keyframes shake {
  0%,
  100% {
    transform: translateX(0);
  }
  20%,
  60% {
    transform: translateX(-5px);
  }
  40%,
  80% {
    transform: translateX(5px);
  }
}
