@use "../abstracts/" as *;

.single-product__wrapper {
  grid-area: 2/1/4/4;
}

.single-product__container {
  display: flex;
  flex-flow: row wrap;
}
.single-product__breadcrumbs {
  width: 100%;
}

div[id^="product-"] {
  border: 1px solid red;
  display: flex;
  flex-flow: row wrap;
  width: 100%;
}
.pkd-product-gallery {
  margin: 0;
  max-width: 60%;
  max-height: 30%;
}
.swiper-wrapper{
  width: 100%;
}