@use "../abstracts/" as *;

.single-product__wrapper {
  grid-area: 2/1/4/4;
  max-width: $max-width;
}

.single-product__container {
  display: flex;
  flex-flow: row wrap;
}
.single-product__breadcrumbs {
  width: 100%;
  margin-bottom: 2rem;
}
.woocommerce-notices-wrapper {
  width: 100%;
}
.onsale {
  position: absolute;
  top: 0;
  left: 5rem;
  color: red;
  z-index: 10;
  letter-spacing: 1px;
  font-size: 2.5rem;
  font-family: "Coiny", sans-serif;
}
div[id^="product-"] {
  position: relative;
  display: flex;
  flex-flow: row wrap;
  gap: 2rem;
  justify-content: center;
}
.product-gallery-wrapper {
  flex: 0 0 320px;
  max-width: 320px;
  @include md {
    flex: 0 0 600px;
    max-width: 600px;
  }
}

div.summary.entry-summary {
  flex: 1;
  & nav.woocommerce-breadcrumb {
    font-size: 1.3rem;
  }
}
.woocommerce-tabs {
  width: 100%;
  & ul {
    display: flex;
    list-style-type: none;
    flex-flow: row wrap;
    justify-content: center;
    padding: 0;
    column-gap: 0.3rem;
    & li.reviews_tab {
      display: none;
      @include md {
        display: block;
      }
    }
    & li {
      flex: 1 0 auto;
      position: relative;
      font-size: small;
      text-transform: uppercase;

      @include md {
        text-align: center;
        font-size: large;
      }

      &::before {
        content: "";
        position: absolute;
        left: 0;
        bottom: 0;
        background: get-color("primary-color");
        height: 2px;
        width: 0;
        transition: width 0.3s;
      }
      &:hover::before {
        width: 100%;
      }
    }
  }
}
form.cart {
  width: 100%;
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  align-items: center;
  column-gap: 0.3rem;
  & .quantity {
    flex: 0 0 auto;
    @include md {
      width: auto;
    }
  }
  & .button {
    flex: 1 1 50%;
    @include md {
      width: auto;
    }
  }
}

.woocommerce-product-details__short-description {
  width: 100%;
  border: 1px solid get-color("border-color");
  padding: 1rem;
}
.product_meta{
  width: 100%;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  & span {
    font-size: small;
    width: 100%;
    @include md {
      font-size: medium;
    }
  }
}